*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el contenedor principal */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
  }
  body{
    background-image: linear-gradient(to top right,
        #CC64A2, #6c63ff);
    min-height: 100vh;
    line-height: 20px;
    font-family: monospace;
}
  
  /* Estilos para el formulario de búsqueda */
  .meal-search {
    background-color: #f8f8f8;
    padding: 30px;
    margin-top: 30px;
    text-align: center;
  }
  
  .meal-search h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #444;
  }
  
  .meal-search blockquote {
    margin: 0;
    font-size: 1.5rem;
    font-style: italic;
    color: #777;
  }
  
  .meal-search cite {
    display: block;
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    color: #444;
  }
  
  .meal-search-box {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  
  .search-control {
    flex-grow: 1;
    height: 50px;
    padding: 0 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    color: #444;
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .search-control:focus {
    outline: none;
    border: 1px solid #6c63ff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  }
  
  .search-btn {
    margin-left: 15px;
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #6c63ff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .search-btn:hover {
    background-color: #534de6;
  }
  
  .search-btn:focus {
    outline: none;
  }
  
  /* Estilos para los resultados de la búsqueda */
  .meal-result {
    width:900px;
    margin:150px auto 0;
  }
  #meal{
    margin: 2.4rem 0;
  }
  .meal-result h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: #444;
  }
.list{
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 20px;
  align-content: stretch;
  justify-content: center;
}
.item .img img{
    height:200px;
    transition: 0.5s;
}
.item .img{
    background-image: linear-gradient(to top right,
        #D89CD1, #D499D4
    );
    padding:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.item .content{
    background-color: #ffffff24;
    border-radius: 30px;
    padding:50px 30px;
    transform: translate(0,-50px);
    backdrop-filter: blur(20px);
    color:#fff;
}
.title{
    font-size: x-large;
}
.item .content .des{
    opacity: .7;
    margin:10px 0;
}
.item .content .price{
    font-size: large;
    letter-spacing: 3px;
    margin-bottom:10px;
}
.item .content .add{
    background-color: #B192EF;
    padding:20px;
    color:#fff;
    width:100%;
    border:none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item:hover img{
    transform: translate(0,-50px);
}
.listPage{
    padding:10px;
    text-align: center;
    list-style: none;
}
.listPage li{
    background-color: #ffffffBD;
    padding:20px;
    display: inline-block;
    margin:0 10px;
    cursor: pointer;
}
.listPage .active{
    background-color: #B192EF;
    color:#fff;
}

/* meal details */
  .meal-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
  }
  .showRecipe{
    display: flex;
  }
  .meal-details-content {
    background-color: #fff;
    max-width: 800px;
    padding: 30px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  .recipe-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .recipe-category {
    color: #888;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .recipe-instruct {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .recipe-meal-img {
    margin-top: 1.5rem;
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;
  }
  
  .recipe-meal-img img {
    width: auto;
    max-height: 400px;
  }
  
  .recipe-link a {
    display: inline-block;
    padding: 0.5rem 1rem;
    background-color: #fc6c85; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    transition: background-color 0.3s ease-in-out;
  }
  .recipe-link a:hover {
    background-color: #e5596d; 
  }
  
  .recipe-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    background-color: #444;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }